body{
    background-color: #0a697593;
}
header{
    text-align: center;
    background: rgba(7, 102, 211, 0.349);
}

nav{
    font-variant: small-caps;
    font-size: 150%;
}
h1{
    color: #ffffff;

}
a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    display: inline-block;
    float: left;
    width: 30%;
    margin: .5%;
    padding: 1px;
    text-align: center;
    font-size: 90%;
    
}
h2{
    background-color: rgba(7, 102, 211, 0.349);
    color: #ffffff;
    


}
footer{
    clear: both;
}
p{
    font-size: 90%;
}