nav{
    float: left;
    background: rgb(50, 105, 4);
    width: 20%;
    display: block;

}
nav a{
    display: block;
    margin-bottom: 40%;
    position: relative;
    top:  50px ;
    left: 55%;
    color: #ffffffff;
    text-decoration: none;
}

section{
    margin-left: 20%;
    padding-left: 2%;
    position: relative;
    top:  50px ;
}