body{
    background-color: #B3B3B3;
    font-size:125%;
}
header{
    text-align: center;
    background-color: #666666;

}
h1{
    color:#ffffffff;
}
nav{
    font-variant:small-caps;
    font-family: Arial, 'Times New Roman', serif;
    font-size:150%
}
h2{
    color:#666666;
    background-color: #00b7ea;
}

summary{
	font-style:normal;
}

details{
	font-style: italic;
}


footer{
    background-color: #666666;
}